button
{
    background-color: grey;
    color: white;
    padding: 10px 15px;
    margin:8px 0;
    cursor: pointer;
}

hr
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

input[type=text]:focus, input[type=password]:focus 
{
    background-color: #ddd;
    outline: none;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.container 
{
    padding: 16px;
}

button:hover
{
    color: lightblue;
}