h1
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body 
{
    font-family: Georgia, 'Times New Roman', Times, serif
}

#position
{
    text-align: right;
}

img
{
    height: 200px;
    width: 200px;
}

.image-container {
    display: flex;
  }
  
  .image {
    margin-right: 10px; /* Adjust this value to add spacing between images */
    height: 200px;
    width: 200px;
  }
  
  .caption {
    text-align: center;
    margin-top: 5px; /* Adjust this value to control the spacing between image and caption */
    color: bisque;
  }

p
{
    color: bisque;
}

.mainSection{
    display: flex;  
}

.navbar 
{
    background-color: #722F37;
    color: white;
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a 
{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.wineries-heading 
{
    margin: 25px;
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
}


/* Social Media */

.fa
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook 
{
    background: #3B5998;
    color: white;
}

.fa-google 
{
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("blackieshoot-pH9e5w-TH-s-unsplash Landscape.jpg");
    background-size: cover;
    background-position: top;
    z-index: -1;
  }
  
  .content {
    padding-top: 100vh; /* Adjust this value as per your image height */
    background-color: white;
  }


/*Search bar information*/

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
